{% extends 'base.html' %}
{% load static %}

{% block content %}

<br>
<br>
<br>

<div class="container d-flex flex-column justify-content-center align-items-center" style="border: solid #ec6f00 2px; padding: 40px; max-width: 300px; border-radius: 20px;">
  {% if user.is_authenticated %}
      <p class="text-center">You are already logged in. <a href="/">Go to Home</a></p>
  {% else %}
      {% if form.errors %}
          <div class="alert alert-danger" role="alert" style="text-align: center;">
              Your username and password didn't match. Please try again.
          </div>
      {% endif %}

      <form method="post" action="{% url 'login' %}" class="text-center">
          {% csrf_token %}
          <table class="mx-auto">
              <tr>
                  <td>{{ form.username.label_tag }}</td>
                  <td>{{ form.username }}</td>
              </tr>
              <tr>
                  <td>{{ form.password.label_tag }}</td>
                  <td>{{ form.password }}</td>
              </tr>
          </table>
          <input type="submit" value="login" class="btn btn-primary mt-2">
          <input type="hidden" name="next" value="{{ next }}">
      </form>

      <p class="text-center mt-3"><a href="{% url 'password_reset' %}">Lost password?</a></p>
  {% endif %}
</div>
<br>
{% endblock %}
