{% load static %}

<head>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'main/css/nav.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'main/js/nav.js' %}"></script>
</head>

    <!-- Top Navigation Menu -->
    <div class="topnav">
        <span class="holder">Logo</span>
        <div id="myLinks">
            <a href="/">Home</a>
            <a href="/createaclass">Create A Class</a>
            <a href="/post_details">Post</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>