{% load static %}

<head>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'main/css/nav.css' %}">
    <script src="{% static 'main/js/nav.js' %}"></script>
</head>

<div class="mobile-container">

    <!-- Top Navigation Menu -->
    <div class="topnav">
        <a href="#home" class="active">Logo</a>
        <div id="myLinks">
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>