{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>
<h1>My Posts</h1>

{% if my_posts %}
{% for x in my_posts %}
<div class="card text-center" style="padding: 15px; margin: 20px; border-radius: 20px; top: 50px; border: solid #ec6f00 3px;">
    <div class="card-header">
        <h5 class="card-title">{{ x.post_name }}</h5>
    </div>
    <div class="card-body">
        <!--<h5 class="card-title">{{ x.post_name }}</h5>-->
        <p class="card-text">{{ x.created_by }}</p>
    </div>
    <div class="card-footer text-muted">
        <a href="{% url 'post_details' x.id%}">View Post</a>
    </div>
</div>
{% endfor %}
{% else %}
<p>No Posts</p>
{% endif %}

<br><br>

<nav aria-label="Page navigation example">
    {% if is_paginated %}

    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{% if request.GET.up_vote_total %}up_vote_total={{ request.GET.up_vote_total }}&{% endif %}{% if request.GET.sort %}sort={{ request.GET.sort }}&{% endif %}{% if request.GET.has_voted %}has_voted={{ request.GET.has_voted }}&{% endif %}{% if request.GET.user_vote %}user_vote={{ request.GET.user_vote }}{% endif %}"
               >&laquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
        </li>
        {% endif %}
        
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item"><a class="page-link active">{{ i }}</a></li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ i }}&{% if request.GET.up_vote_total %}up_vote_total={{ request.GET.up_vote_total }}&{% endif %}{% if request.GET.sort %}sort={{ request.GET.sort }}&{% endif %}{% if request.GET.has_voted %}has_voted={{ request.GET.has_voted }}&{% endif %}{% if request.GET.user_vote %}user_vote={{ request.GET.user_vote }}{% endif %}">{{ i }}</a>
        </li>
        {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
        <li class="page-item">
            <a href="?page={{ page_obj.next_page_number }}&{% if request.GET.up_vote_total %}up_vote_total={{ request.GET.up_vote_total }}&{% endif %}{% if request.GET.sort %}sort={{ request.GET.sort }}&{% endif %}{% if request.GET.has_voted %}has_voted={{ request.GET.has_voted }}&{% endif %}{% if request.GET.user_vote %}user_vote={{ request.GET.user_vote }}{% endif %}" class="page-link">&raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">&raquo;</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</nav>

{% endblock %}