{% block content %}
{% load static %}
<script src="{% static 'js/post_voting.js' %}"></script>
<br>
<br>
<br>
<div class="justify-content-center" style="margin-left: 20px; margin-top: 20px;">
<form method="GET" style="display: inline;">
    <input type="hidden" name="up_vote_total" value="{{ my_filter.form.up_vote_total.value }}">
    <input type="hidden" name="page" value="{{ list_page.number }}">
    <button type="submit" name="sort" value="desc">Top</button>
    <button type="submit" name="sort" value="newest">Newest</button>
    <span class="total_results" style="float: right; margin-right: 20px;">Total Results: {{ total_posts }}</span>
</form>
</div>
{% if post_data %}
{% for x in list_page %}
<div class="card text-center" style="padding: 15px; margin: 20px; border-radius: 20px; top: 0px; border: solid #ec6f00 3px;">
    <div class="card-header">
        <h5 class="card-title">{{ x.post_name }}<br>
            <span class="date_created" style="font-size: 12px; float: right; color: #837a7a;">{{ x.created_date }}</span>
        </br>
            <span class="time_created" style="font-size: 12px; float: right; color: #837a7a;">{{ x.created_time }}</span>
        </h5>
    </div>
    <div class="card-body">
        <!--<h5 class="card-title">{{ x.post_name }}</h5>-->
        <p class="card-text">{{ x.main_weapon.weapon_name }} </br> {{ x.attachment1.attachment_name }} + {{ x.attachment2.attachment_name }} </br> {{ x.attachment3.attachment_name }} </br> {{ x.attachment4.attachment_name }} + {{ x.attachment5.attachment_name }}</p>
    </div>
    <div class="card-footer text-muted">
        <a href="{% url 'post_details' x.id%}" style="float: left;">View Post</a>
        {% if user.is_authenticated %}

        <span class="up_vote_total" style="float: right;">
            <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
            <input type="hidden" name="vote" value="{{ x.id }}" id="vote_post_id_short">
            <button class="upvote_btn_{{ x.id }}" type="button" onclick="sendVote({% if x.has_voted %} 'null' {% else %} 'upvote' {% endif %}, {{ x.id }})"
                style="background-color: {% if x.has_voted and x.user_vote == 'upvote' %}green{% else %}{% endif %} !important">&#8682;</button>
            <span class="total_votes" id="total_votes_{{ x.id }}">{{ x.up_vote_total }}</span>
            <button class="downvote_btn_{{ x.id }}" type="button" onclick="sendVote({% if x.has_voted %} 'null' {% else %} 'downvote' {% endif %}, {{ x.id }})"
                style="background-color: {% if x.has_voted and x.user_vote == 'downvote' %}red{% else %}{% endif %} !important">&#8681;</button>
        </span> 

        {% endif %}
        {% if not user.is_authenticated %}
        <span class="total_votes" id="total_votes_{{ x.id }}" style="float: right;">Votes: {{ x.up_vote_total }}</span>
        <h5 style="font-size: 0.5rem;">Created by: {{ x.created_by }}<h5>
        {% endif %} 
    </div>
</div>
{% endfor %}
{% else %}
<p>No Posts</p>
{% endif %}

<ul class="pagination justify-content-center">
    <li class="page-item">
        {% if list_page.has_previous %}
            <a class="page-link" 
            href="?page={{ list_page.previous_page_number }}&up_vote_total={{ my_filter.form.up_vote_total.value }}&sort={{ request.GET.sort }}">Previous</a>
        {% endif %}
    </li>
    <li class="page-item">
        <a class="page-link"> Page {{ list_page.number }} of {{ list_page.paginator.num_pages }}</a>
    </li>
    <li class="page-item">
        {% if list_page.has_next %}
            <a class="page-link" 
            href="?page={{ list_page.next_page_number }}&up_vote_total={{ my_filter.form.up_vote_total.value }}&sort={{ request.GET.sort }}">Next</a>
        {% endif %}
    </li>
</ul>
{% endblock %} 