{% extends 'base.html' %}
{% block content %}
{% load static %}
<script src="{% static 'js/post_voting.js' %}"></script>
<br>
<br>
<br>
<a href="?sort=created_date">Sort Ascending</a>
<a href="?sort=-created_date">Sort Descending</a>

{% if posts %}
{% for post in posts %}
<h1>{{ post.id }} {{ post.post_name }}</h1>
{% endfor %}
{% endif %}

<nav aria-label="Page navigation example">
    {% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{% if request.GET.up_vote_total %}up_vote_total={{ request.GET.up_vote_total }}&{% endif %}{% if request.GET.sort %}sort={{ request.GET.sort }}&{% endif %}{% if request.GET.has_voted %}has_voted={{ request.GET.has_voted }}&{% endif %}{% if request.GET.user_vote %}user_vote={{ request.GET.user_vote }}{% endif %}"
               >&laquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
        </li>
        {% endif %}
        
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item"><a class="page-link active">{{ i }}</a></li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ i }}&{% if request.GET.up_vote_total %}up_vote_total={{ request.GET.up_vote_total }}&{% endif %}{% if request.GET.sort %}sort={{ request.GET.sort }}&{% endif %}{% if request.GET.has_voted %}has_voted={{ request.GET.has_voted }}&{% endif %}{% if request.GET.user_vote %}user_vote={{ request.GET.user_vote }}{% endif %}">{{ i }}</a>
        </li>
        {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
        <li class="page-item">
            <a href="?page={{ page_obj.next_page_number }}&{% if request.GET.up_vote_total %}up_vote_total={{ request.GET.up_vote_total }}&{% endif %}{% if request.GET.sort %}sort={{ request.GET.sort }}&{% endif %}{% if request.GET.has_voted %}has_voted={{ request.GET.has_voted }}&{% endif %}{% if request.GET.user_vote %}user_vote={{ request.GET.user_vote }}{% endif %}" class="page-link">&raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">&raquo;</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</nav>


{% endblock %}