{% extends 'base.html' %}
{% block content %}

{% load static %}
<script src="{% static 'js/post_voting.js' %}"></script>
<br>
<br>
<br>

{% if post %}
<div class="card text-center" style="padding: 15px; margin: 20px; border-radius: 20px; top: 0px; border: solid #ec6f00 3px;">
    <div class="card-header">
        <h5 class="card-title">{{ post.post_name }}<br><span class="date_created" style="font-size: 12px; float: right; color: #837a7a;">{{ x.created_date }}</span></h5>
    </div>
    <div class="card-body">
        <!--<h5 class="card-title">{{ x.post_name }}</h5>-->
        <p class="card-text">{{ post.main_weapon.weapon_name }} </br> {{ post.attachment1.attachment_name }} + {{ post.attachment2.attachment_name }} </br> {{ post.attachment3.attachment_name }} </br> {{ post.attachment4.attachment_name }} + {{ post.attachment5.attachment_name }}</p>
    </div>
    <div class="card-footer text-muted">
        {% if user.is_authenticated %}


            <span class="up_vote_total" style="float: right;">
                <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
                <input type="hidden" name="vote" value="{{ post.id }}" id="vote_post_id">
                <button class="upvote_btn" type="button" onclick="sendVote('upvote')" value="upvote"
                    style="background-color: {% if posts_vote.vote == 'upvote' %}green{% else %}{% endif %} !important">&#8682;</button>
                <span class="total_votes">{{ post.up_vote_total }}</span>
                <button class ="downvote_btn" type="button" onclick="sendVote('downvote')" value="downvote"
                    style="background-color: {% if posts_vote.vote == 'downvote' %}red{% else %}{% endif %} !important">&#8681;</button>
            </span>


        {% endif %}
    </div>
</div>
{% else %}
<p>No Posts</p>
{% endif %}

<script>
    function sendVote(voteOption) {
        console.log("voteoption", voteOption)
        var postId = document.getElementById('vote_post_id').value;
        var csrfToken = document.getElementById('csrf_token').value;
    
        var xhr = new XMLHttpRequest();
        xhr.open('POST', postId, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('X-CSRFToken', csrfToken);
        console.log(xhr)

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                console.log(response)
                document.querySelector('.total_votes').innerHTML = response.new_vote_total;
                console.log(response)
                if (response.new_vote === 'upvote') {
                    console.log('up vote')
                    document.querySelector('.upvote_btn').style.backgroundColor = "green";
                    document.querySelector('.downvote_btn').style.backgroundColor = "";
                } else {
                    document.querySelector('.downvote_btn').style.backgroundColor = "red";
                    document.querySelector('.upvote_btn').style.backgroundColor = "";
                }
            
            }
        };
    
        var data = JSON.stringify({vote: postId, vote_option: voteOption, csrfToken: csrfToken});
        try{
            xhr.send(data);
        }
        catch(err) {
            console.log(err)
        }
    }   
</script>
{% endblock %} 
<!--<a href="{% url 'post_details' x.id%}" style="float: left;">Comments</a>-->
