{% extends 'base.html' %}
{% block content %}

{% load static %}
<script src="{% static 'js/post_voting.js' %}"></script>
<br>
<br>
<br>

{% if post %}
<div class="card text-center" style="padding: 15px; margin: 20px; border-radius: 20px; top: 0px; border: solid #ec6f00 3px;">
    <div class="card-header">
        <h5 class="card-title">{{ post.post_name }}<br><span class="date_created" style="font-size: 12px; float: right; color: #837a7a;">{{ x.created_date }}</span></h5>
    </div>
    <div class="card-body">
        <!--<h5 class="card-title">{{ x.post_name }}</h5>-->
        <p class="card-text">{{ post.main_weapon.weapon_name }} </br> {{ post.attachment1.attachment_name }} + {{ post.attachment2.attachment_name }} </br> {{ post.attachment3.attachment_name }} </br> {{ post.attachment4.attachment_name }} + {{ post.attachment5.attachment_name }}</p>
    </div>
    <div class="card-footer text-muted">
        {% if user.is_authenticated %}


            <span class="up_vote_total" style="float: right;">
                <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
                <input type="hidden" name="vote" value="{{ post.id }}" id="vote_post_id">
                <button class="upvote_btn" data-action="{% if posts_voted.vote == 'upvote' %}upvote{% else %}none{% endif %}" data-id="{{ post.id }}" data-buttontype="upvote" onclick="vote_unique_post(this)"
                    style="background-color: {% if posts_voted.vote == 'upvote' %}green{% else %}{% endif %} !important">&#8682;</button>
                <span class="total_votes">{{ post.up_vote_total }}</span>
                <button class ="downvote_btn" data-action="{% if posts_voted.vote == 'downvote' %}downvote{% else %}none{% endif %}" data-id="{{ post.id }}" data-buttontype="downvote" onclick="vote_unique_post(this)"
                    style="background-color: {% if posts_voted.vote == 'downvote' %}red{% else %}{% endif %} !important">&#8681;</button>
            </span>


        {% endif %}
    </div>
</div>
{% else %}
<p>No Posts</p>
{% endif %}
{% endblock %} 
<!--<a href="{% url 'post_details' x.id%}" style="float: left;">Comments</a>-->
 